In [2]:
from sqlalchemy import Column, Integer, VARCHAR, TIMESTAMP, NUMERIC
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import logging
import datetime
from config import conn_string
import os
from db.models import TableUsers, TableUserAirports, TableAirportCodes, DataAccessLayer
import pandas as pd
# from dotenv import load_dotenv
#
# load_dotenv()
#
# DATABASE_USER = str(os.getenv("DBUSER"))
# DATABASE_PASS = str(os.getenv("DBPASSWORD"))
# DATABASE_NAME = str(os.getenv("DBNAME"))
# DATABASE_PORT = str(os.getenv("DBPORT"))
# DATABASE_HOST = str(os.getenv("DBHOST"))
#
# conn_string = f'postgresql://'
# conn_string += f'{DATABASE_USER}:{DATABASE_PASS}'
# conn_string += f'@{DATABASE_HOST}:{DATABASE_PORT}/{DATABASE_NAME}'

In [7]:
fligts_pth= os.path.join('..','FlightDeals.xlsx')
flightsdf = pd.read_excel(fligts_pth, engine='openpyxl')

In [8]:
airportsdf_pth = os.path.join('..','world-airport-codes.xlsx')
airportsdf = pd.read_excel(airportsdf_pth,engine='openpyxl')

In [15]:
airportsdf.head()

,AirportName,Country,IATA,Latitude,Longitude
0,Anaa Airport,French Polynesia,AAA,-17.352600,-145.509995
1,Arrabury Airport,Australia,AAB,-26.700001,141.050003
2,El Arish International Airport,"El Arish, Egypt",AAC,31.073299,33.835800
3,Ad-Dabbah Airport,"Ad-Dabbah, Sudan",AAD,17.592778,33.959167
4,Annaba Airport,"Annabah, Algeria",AAE,36.822201,7.809170

In [10]:
me = TableUsers('224483345', "Alex")

In [11]:
dal = DataAccessLayer(conn_string)

In [12]:
session = dal.get_session()

In [13]:
session.add(me)
session.commit()

In [22]:
airportslist = []
for row in airportsdf.iterrows():
    ap= TableAirportCodes(row[1][0], row[1][2], row[1][1])
    airportslist.append(ap)

In [24]:
session.bulk_save_objects(airportslist)
session.commit()